<%= link_to "Home", root_path %>
<h1>Observations#index</h1>
<h2>Here some statistics from observations</h2>

<div>
  <p><strong>Total number of events:</strong> <%= @observations.count %></p>
  <p><strong>Events left:</strong> <%= @observations.where(value:'left').count %>
  <strong>Events right:</strong> <%= @observations.where(value:'right').count %></p>
</div>

<div>
  <p><strong>Number of events observed by humans:</strong> <%= @observations_with_humans.count %></p>
  <p><strong>Events left:</strong> <%= @observations_with_humans.where(value:'left').count %>
  <strong>Events right:</strong> <%= @observations_with_humans.where(value:'right').count %></p>
</div>

<h2>List of all observations</h2>
<ol>
  <% @observations.each do |obs| %>
    <li>
      <%= obs.end %>: <%= obs.value %>
    </li>
  <% end %>
</ol>
