<a href="<%= root_path %>" class="underline text-orange-500">Home</a>
<h2 class="text-2xl font-bold leading-tight my-4 text-indigo-500">Profile</h2>

<div class="my-5">
  <p><strong>Total number of events influenced by you:</strong> <%= @observations.count %></p>
  <p><strong>LEFT:</strong> <%= @observations.where(value:'left').count %>
  <strong>RIGHT:</strong> <%= @observations.where(value:'right').count %></p>
</div>


<h2 class="text-xl font-bold leading-tight mt-18 text-indigo-500">All sessions</h2>
<ol>
  <% @sessions.each do |session| %>
    <li>
      <%= session.id %>: <%= session.start %>: <%= session.end %>
    </li>
  <% end %>
</ol>
